{{!-- {{#each snippets}}
<pre><code>{{snippetBody}}</code></pre>
{{/each}} --}}

<div class="container">
  <div class="row">
    {{!-- This column size controls the overall column width of the box div containing both filter dropdowns --}}
    <div class="col-sm-6">
      <div class="row">
        {{!-- controls the generic filters --}}
        <div class="filterBtn col-6 dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="width: 100%;">
            <p id="mainFilterTitle">All</p>
          </button>
          <div class="dropdown-menu" id="languageDropDown" aria-labelledby="dropdownMenuButton">
            {{!-- for each entry in filterSet --}}
            {{!-- <a class="dropdown-item" id="dd{{name}}" href="#">{{name}}</a> --}}
            <a class="dropdown-item ddLanguage" id="ddAll" href="#">All</a>
            <a class="dropdown-item ddLanguage" id="ddJavascript" href="#">Javascript</a>
            <a class="dropdown-item ddLanguage" id="ddHTML" href="#">Html</a>
            <a class="dropdown-item ddLanguage" id="ddCSS" href="#">CSS</a>
            {{!-- <a class="dropdown-item" class="ddLanguage" id="ddTag1"href="#">Tag 1</a> --}}
          </div>
        </div>

        {{!-- controls the date-based filter --}}
        <div class="filterBtn col-6 dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="width: 100%;">
            <p>Order by Date</p </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item ddCreationDate" id="asc" href="#">Date : Ascending </a>
              <a class="dropdown-item ddCreationDate" id="desc" href="#">Date : Descending</a>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h1>Snippet Bank</h1>
    <h3>[rough template]</h3>
    <hr>
    <button id="addSnippet" class="btn btn-danger btn-lg"><span class="fa fa-plus"></span> Add New Snippet</button>
  </div>

  <!-- This is the form where a new character is added -->
  <div class="container-fluid">

    <div class="row">
      <div class="col-12 alert-warning" id="error">
        {{#if error}}
        <span>
          {{error}}
        </span>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-3 list-container">
        <div class="card">
          <ul class="list-group">
            {{#each snippets}}
            <li class="devicon-html5-plain" value={{id}}> {{snippetTitle}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="col-9">
        <form id="newSnippetArea" style="display: none;" action="/" method="POST" name="snippets" class="form-group">

          <label>snippetTitle</label>
          <input type="text" class="form-control" name="newTitle" id="newTitle" value="{{newSnippet.newTitle}}" />

          <label>language</label>
          <select class="form-control" name="newLanguage" id="newLanguage" value="{{detailSnippet.language}}">
            <option value="">Select a language</option>
            <option value="javascript">javascript</option>
            <option value="css">css</option>
            <option value="css">html</option>
          </select>

          <label>description</label>

          <textarea type="text" class="form-control" name="newDescription"
            id="newDescription">{{newSnippet.newDescription}}</textarea>

          <label>snippetBody</label>
          <textarea type="text" class="form-control" name="newSnippetBody"
            id="newSnippetBody">{{newSnippet.newSnippetBody}}</textarea>

          <button type="submit" id="submitSnippet" class="btn btn-primary">Save</button>


        </form>
        <form id="detailSnippetArea" style="display: none;" action="/" method="POST" name="snippets" class="form-group">

          <label>snippetTitle</label>
          <input type="text" class="form-control" name="detailTitle" id="detailTitle" value="{{detailSnippet.title}}" />

          <label>language</label>
          <select class="form-control" name="detailLanguage" id="detailLanguage" value="{{detailSnippet.language}}">
            <option value="">Select a language</option>
            <option value="javascript">javascript</option>
            <option value="css">css</option>
            <option value="css">html</option>
          </select>

          <label>description</label>

          <textarea type="text" class="form-control" name="detailDescription"
            id="detailDescription">{{detailSnippet.description}}</textarea>

          <label>snippetBody</label>
          <textarea type="text" class="form-control" name="detailSnippetBody"
            id="detailSnippetBody">{{detailSnippet.body}}</textarea>

          <button type="submit" id="saveUpdatedSnippet" class="btn btn-primary" style="display: none">Update!</button>

        </form>


        <div class="div" id="snippetCard" style="display: none">

          <h2 id="bodyID" style="display: none"></h2>
          <h2 id="bodyTitle"></h2>
          <pre><code id="bodySnippetBody"></code></pre>
          <h4 id="bodyDescription"></h4>
          <h4 id="bodyLanguage"></h4>
          <h4 id="bodyDate"></h4>
          <button id="deleteSnippet">Delete</button>
          <button id="updateSnippet">Update</button>

        </div>


      </div>
    </div>
  </div>
</div>

<script src="assets/js/index.js">



</script>