{{!-- {{#each snippets}}
<pre><code>{{snippetBody}}</code></pre>
{{/each}} --}}

<div class="container">
  <div class="row">
    {{!-- This column size controls the overall column width of the box div containing both filter dropdowns --}}
    <div class="col-sm-6">
      <div class="row">
        {{!-- controls the generic filters --}}

      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h1>Snippet Bank</h1>
    <h3>[rough template]</h3>
    <hr>
    <button id="addSnippet" class="btn btn-danger btn-lg"><span class="fa fa-plus"></span> Add New Snippet</button>
  </div>


  <!-- This is the form where a new character is added -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <span class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="width: 100%;">
            <span id="mainFilterTitle">all</span>
          </button>
          <div class="dropdown-menu" id="languageDropDown" aria-labelledby="dropdownMenuButton">
            {{!-- for each entry in filterSet --}}
            {{!-- <a class="dropdown-item" id="dd{{name}}" href="#">{{name}}</a> --}}
            <a class="dropdown-item ddLanguage" id="ddAll" href="#">all</a>
            {{#each languages}}
            <a class="dropdown-item ddLanguage" id="dd{{this}}" href="#">{{this}}</a>
            {{/each}}

            {{!-- <a class="dropdown-item" class="ddLanguage" id="ddTag1"href="#">Tag 1</a> --}}
          </div>
        </span>
      </div>

      {{!-- controls the date-based filter --}}
      <div class="col-3">
        <span class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="width: 100%;">
            <span>Order by Date</span> </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item ddCreationDate" id="asc" href="#">Date : Ascending </a>
            <a class="dropdown-item ddCreationDate" id="desc" href="#">Date : Descending</a>
          </div>
        </span>
      </div>
      <div class="col-6">
        <form action="/api/search/" method="POST" name="searchForm" class="form-group">

          {{!-- <div class="col-8"> --}}
          <input type="text" class="form-control" name="searchField" placeholder="Search">
          {{!-- </div> --}}
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 alert-warning" id="error">
        {{#if error}}
        <span>
          {{error}}
        </span>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-3 list-container">
        <div class="card">
          <ul class="list-group">
            {{#each snippets}}

            <li class="list-group-item devicon-{{language}}-plain" value={{id}}> {{snippetTitle}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="col-7">
        <form id="newSnippetArea" style="display: none;" action="/" method="POST" name="snippets" class="form-group">

          <label>snippetTitle</label>
          <input type="text" class="form-control" name="newTitle" id="newTitle" value="{{newSnippet.newTitle}}" />

          <label>language</label>
          <select class="form-control" name="newLanguage" id="newLanguage" value="{{detailSnippet.language}}">
            <option value="">Select a language</option>
            {{#each languages}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}

          </select>

          <label>description</label>

          <textarea type="text" class="form-control" name="newDescription"
            id="newDescription">{{newSnippet.newDescription}}</textarea>

          <label>snippetBody</label>
          <textarea type="text" class="form-control" name="newSnippetBody"
            id="newSnippetBody">{{newSnippet.newSnippetBody}}</textarea>

          <button type="submit" id="submitSnippet" class="btn btn-primary">Save</button>


        </form>
        <form id="detailSnippetArea" style="display: none;" action="/" method="POST" name="snippets" class="form-group">

          <label>snippetTitle</label>
          <input type="text" class="form-control" name="detailTitle" id="detailTitle" value="{{detailSnippet.title}}" />

          <label>language</label>
          <select class="form-control" name="detailLanguage" id="detailLanguage" value="{{detailSnippet.language}}">
            {{#each languages}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}

            <option value="">Select a language</option>
            <option value="c">C</option>
            <option value="csharp">C#</option>
            <option value="cplusplus">C++</option>
            <option value="css3">CSS3</option>
            <option value="html5">HTML5</option>
            <option value="javascript">Javascript</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
            <option value="php">PHP</option>
          </select>



          <label>description</label>


          <textarea type="text" class="form-control" name="detailDescription"
            id="detailDescription">{{detailSnippet.description}}</textarea>

          <label>snippetBody</label>
          <textarea type="text" class="form-control" name="detailSnippetBody"
            id="detailSnippetBody">{{detailSnippet.body}}</textarea>

          <button type="submit" id="saveUpdatedSnippet" class="btn btn-primary" style="display: none">Update!</button>

        </form>


        <div class="div" id="snippetCard" style="display: none">

          <h2 id="bodyID" style="display: none"></h2>
          <h2 id="bodyTitle"></h2>
          <pre><code id="bodySnippetBody"></code></pre>
          <h4 id="bodyDescription"></h4>
          <h4 id="bodyLanguage"></h4>
          <h4 id="bodyDate"></h4>
          <button class="btn" id="deleteSnippet">Delete</button>
          <button class="btn" id="updateSnippet">Update</button>

        </div>


      </div>
      <div class="col-2" id="tagArea">
          <ul id="currentTagList"></ul>
      </div>
    </div>
  </div>
</div>



{{!-- <script src="assets/js/index.js"></script> --}}

<script>
  //Update Snippet Functionality
  $("#updateSnippet").on("click", function (event) {
    $("#newSnippetArea").hide();
    $("#detailSnippetArea").show();
    $("#detailTitle").val($("#bodyTitle").text());
    $("#detailLanguage").val($("#bodyLanguage").text());
    $("#detailDescription").val($("#bodyDescription").text());
    $("#detailSnippetBody").val($("#bodySnippetBody").text());
    $("#snippetCard").hide(function () {
      $("#saveUpdatedSnippet").show();
      $("#submitSnippet").hide();
    });
  });
  $("#deleteSnippet").on("click", function (event) {
    event.preventDefault();
    var snippetID = $("#bodyID").text();
    console.log(snippetID);
    $.ajax("/api/delete/" + snippetID, {
      type: "DELETE",
    }).done(location.reload("/"));
  });
  // Event handler for 
  $("#saveUpdatedSnippet").on("click", function (event) {
    event.preventDefault();
    var snippetData = {
      id: $("#bodyID").text(),
      title: $("#detailTitle").val(),
      body: $("#detailSnippetBody").val(),
      language: $("#detailLanguage").val(),
      description: $("#detailDescription").val(),
    };
    console.log("updating snippet");
    console.log(snippetData);
    var request = $.ajax("/api/updates/", {
      type: "POST",
      data: snippetData,
    });
    request.done(function (data) {
      // console.log("success")
      // console.log(data)
      $("#error").hide();
      // no errors reload page
      location.reload("/");
    });
    request.fail(function (data) {
      // console.log("failure")
      // console.log(data)
      $("#error").show();
      $("#error").text(data.responseText);
    });
  });
  // Event handler for "Add New Snippet" button click
  $("#addSnippet").on("click", function (event) {
    event.preventDefault();
    // Show the form for adding a character
    $("#newSnippetArea").show();
    $("#detailSnippetArea").hide();
    $("#snippetCard").hide();
    $("#submitSnippet").show();
  });
  $("li").on("click", function (event) {
    $("#detailSnippetArea").hide();
    $("#snippetCard").show();
    $("#newSnippetArea").hide();
    const id = $(this).val();
    $.ajax({
      url: "/api/" + id,
      method: "POST",
      //Send user back to homepage for refresh
    }).then(function (data) {
      // console.log("snippet data")
      // console.log(data)
      $("#bodyID").text(data[0].id);
      $("#bodyTitle").text(data[0].snippetTitle);
      $("#bodySnippetBody").text(data[0].snippetBody);
      $("#bodyLanguage").text(data[0].language);
      $("#bodyDescription").text(data[0].description);
      $("pre > code").each(function () {
        hljs.highlightBlock(this);
      });
    });
    //sends a post request for the tags given an id
    $.ajax({
      url: "/api/displayTags/" + id,
      method: "POST"
    }).then(function (data) {
        //clears the tag list of old tags from previously selected
        $("#currentTagList").text("");
        //Display the tag list
        const tagUL = $("#currentTagList");
        for (datapoint of data){
            const newLi = $(`<li class="tagButton">`).text(datapoint)
            tagUL.append(newLi)
        }

    })
  });
  //Handling the currently selected language
  const selectedLanguageConst = "{{ selectedLanguage }}";

  //if there is a selected language then set the dropdown title to the selected option
  $("#mainFilterTitle").text(`${selectedLanguageConst}`)
  //safety logic to make sure that all is properly displayed if no langauge is currently selected

  if ($("#mainFilterTitle").text() === "") {
    $("#mainFilterTitle").text("all")
  }



  //Event handler for the main dropdown
  $(".ddLanguage").on("click", function (event) {
    //Sets the dropdown title to reflect the currently selected option
    $("#mainFilterTitle").text($(this).text())
    //if the option is all then make a seperate select all query
    if ($(this).text() === "all") {
      const query = "SELECT * FROM snippets;"
      $.ajax({
        url: `/api/filter/all/${query}`,
        method: "get"
      }).done(window.location.assign(`/api/filter/all/${query}`))
    }
    else {
      //or else condtionally select from the database
      const query = `SELECT * FROM snippets WHERE language =` + `"${$(this).text()}"`
      console.log(query)
      $.ajax({
        url: `/api/filter/${$(this).text()}/${query}`,
        method: "get"
      }).then(window.location.assign(`/api/filter/${$(this).text()}/${query}`))
    }
  })

  //Event handler for creationdate drop down
  $(".ddCreationDate").on("click", function (event) {
    //if the filter is currently set to all then use a selectAll query
    if ($("#mainFilterTitle").text() === "all") {
      const query = "SELECT * FROM snippets ORDER by createdDate " + `${$(this).attr('id')};`
      $.ajax({
        url: `/api/filter/all/${query}`,
        method: "get"
      }).then(window.location.assign(`/api/filter/all/${query}`))
    }
    else {
      //if the filter is not set to all then use a more selective query
      //Sorts by id in the table, where the actual HTML element supplies the asc or desc in the element id
      const query = `SELECT * FROM snippets WHERE language =` + `"${$("#mainFilterTitle").text()}"` + " ORDER by createdDate " + `${$(this).attr('id')};`
      console.log(query)
      $.ajax({
        url: `/api/filter/${$("#mainFilterTitle").text()}/${query}`,
        method: "get"
      }).then(window.location.assign(`/api/filter/${$("#mainFilterTitle").text()}/${query}`))

    }
  });

</script>